<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Edit Contact</h5>
  <button type="button" class="btn-close" (click)="onClickCancel()"></button>
</div>

<div class="modal-body">
  @if (editForm) {

    <form [formGroup]="editForm" (ngSubmit)="onClickSave()">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName"
               placeholder="Enter first name">
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName"
               placeholder="Enter last name">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email"
               placeholder="Enter email">
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone"
               placeholder="Enter phone">
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address"
               placeholder="Enter address">
      </div>
    </form>

  } @else {
    <ngb-alert type="warning" [dismissible]="false">
      Loading...
    </ngb-alert>
  }
</div>
<div class="modal-footer">
  <div class="justify-content-between">
    <button class="btn btn-primary w-100" (click)="onClickSave()">Save</button>
    <button class="btn btn-danger ms-3 w-100" (click)="onClickCancel()">Cancel</button>
  </div>
</div>
