<div class="card mb-3 bg-light shadow">
  <div class="card-header">
    <h4 class="fs-4 card-tittle">Create New Contact</h4>
  </div>

  <div class="card-body">

    <form (ngSubmit)="onClickSave()">

      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input [(ngModel)]="model.firstName" type="text" class="form-control" id="firstName" name="firstName"
               placeholder="Enter first name">
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input [(ngModel)]="model.lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input [(ngModel)]="model.email" type="text" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input [(ngModel)]="model.phone" type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone">
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input [(ngModel)]="model.address" type="text" class="form-control" id="address" name="address" placeholder="Enter address">
      </div>


    </form>

    </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <button class ="btn btn-primary" w-100 (click)="onClickSave()">Save</button>
      <button class ="btn btn-danger ms-3 w-100" (click)="onClickCancel()">Cancel</button>
    </div>
  </div>


</div>
